<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<footer>
        <div class="footerv2-w3ls">
            <div class="footer-w3lagile-innerr">
                <!-- footer-top -->
                <div class="container-fluid">
                    <div class="row  footer-v2grids w3-agileits">
                        <!-- services -->
                        <div class="col-lg-2 col-sm-6 footer-v2grid">
                            <h4>Support</h4>
                            <ul>

                                <li>
                                    <a href="{% url 'payment' %}">Payment</a>
                                </li>
                                <li>
                                    <a href="#">Shipping</a>
                                </li>
                                <li>
                                    <a href="#">Cancellation & Returns</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <!-- //services -->
                        <!-- Company -->
                        <div class="col-lg-2 col-sm-6 footer-v2grid my-lg-0 my-5">
                            <h4>Company</h4>
                            <ul>
                                <li>
                                    <a href="#">About us</a>
                                </li>
                                <li>
                                    <a href="#">Career</a>
                                </li>
                                <li>
                                    <a href="#">Find a store</a>
                                </li>
                                <li>
                                    <a href="#">Rules and terms</a>
                                </li>
                                <li>
                                    <a href="#">Sitemap</a>
                                </li>
                            </ul>
                        </div>
                        <!-- //Company -->
                        <!-- Help -->
                        <div class="col-lg-2 col-sm-6 footer-v2grid my-lg-0 my-5">
                            <h4>Help</h4>
                            <ul>
                                <li>
                                    <a href="#">Money refund</a>
                                </li>
                                <li>
                                    <a href="#">Texas</a>
                                </li>
                                <li>
                                    <a href="#">Order status</a>
                                </li>
                                <li>
                                    <a href="#">Shipping info</a>
                                </li>
                                <li>
                                    <a href="#">Open dispute</a>
                                </li>
                            </ul>
                        </div>
                        <!-- //Help -->
                            <!-- Account -->
                        <div class="col-lg-2 col-sm-6 footer-v2grid my-lg-0 my-5">
                            <h4>Account</h4>
                            <ul>
                                <li>
                                    <a href="#">User Login</a>
                                </li>
                                <li>
                                    <a href="#">User register</a>
                                </li>
                                <li>
                                    <a href="#">Account Setting</a>
                                </li>
                                <li>
                                    <a href="#">My Orders</a>
                                </li>
                            </ul>
                        </div>
                         <!-- //Account -->
                        <!-- Social -->
                               <div class="col-lg-2 col-sm-6 footer-v2grid my-lg-0 my-5">
                            <h4>Social</h4>
                            <ul>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Instagram</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                            </ul>
                        </div>

                        <!-- //Social -->
                    </div>
                </div>
            <div class="container-fluid py-5 footer-copy_w3ls">
                <div class="d-lg-flex justify-content-between">
                    <div class="mt-2 sub-some align-self-lg-center">
                        <h5>Payment Method</h5>
                        <ul class="mt-4">
                            <li class="list-inline-item">
                                <img src="{% static 'images/pay2.png' %}" alt="">
                            </li>
                            <li class="list-inline-item">
                                <img src="{% static 'images/pay5.png' %}" alt="">
                            </li>
                            <li class="list-inline-item">
                                <img src="{% static 'images/pay3.png' %}" alt="">
                            </li>
                            <li class="list-inline-item">
                                <img src="{% static 'images/pay7.png' %}" alt="">
                            </li>
                            <li class="list-inline-item">
                                <img src="{% static 'images/pay8.png' %}" alt="">
                            </li>
                            <li class="list-inline-item ">
                                <img src="{% static 'images/pay9.png' %}" alt="">
                            </li>
                        </ul>
                        <div class="cpy-right align-self-center">
                        <h2 class="agile_btxt">
                            <a href="home.html">
                                <span>C</span>ovid-19
                                <span>P</span>roducts</a>
                        </h2>
                        <p>© 2018 Covid-19 Products. All rights reserved | Design by
                            <a href="{% static 'http://w3layouts.com/'%}" class="text-secondary"> W3layouts.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>

</body>
</html>