{% include 'adminheader.html'%}
{% load static %}
<head>
	<script src='https://kit.fontawesome.com/a076d05399.js' ></script>
</head>
<body>

    <!-- /navbar -->


	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					{% include 'sidemenu.html'%}<!--/.sidebar-->
				</div><!--/.span3-->


				<div class="span9">
					<div class="content">
                        <div class="module">
							<div class="module-head">
								<h3>Order Tables</h3>
							</div>
							<div class="module-body table">
								<table id="tbl2" cellpadding="10" cellspacing="0" border="1" class="datatable-1 table table-bordered table-striped	 display" width="100%">
									<thead>
										<tr>
                                            <td class="sorting">Order Id</td>
											<th class="sorting">Order Date</th>
                                            <th class="sorting">Total Amount</th>
                                            <th class="sorting">Payment </th>
                                            <th class="sorting">View Detail</th>
                                            <th class="sorting">User Name</th>

										</tr>
									</thead>
									<tbody>
                                    {% for i in order_product %}
                                        <tr class="gradeA">
											<td class="sorting">{{forloop.counter}}</td>
											<td class="sorting">{{i.Datetime_of_payment}}</td>
											<td class="sorting">Rs.{{i.price}}</td>
                                            <td><span class="badge badge-success" style="padding-top: 7px;padding-bottom: 7px;padding-right: 10px;padding-left: 10px;font-size: 14px;margin-top: 4px;margin-left: 18px;">Success</span>   </td>
											<td>
                        					<a href="user_view/{{i.id}}">
                          						<button type="submit" class="btn btn-primary" style="margin-left: 30px;" action="user_view/{{i.id}}"><i class="fa fa-eye" style="font-size:24px"></i></button>
											</a>
											</td>

                                            <td class="sorting">{{i.userid.username}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
								</table>
							</div>
						</div><!--/.module-->

					<br />

					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	{% include 'adminfooter.html'%}

	<script src="{% static 'scripts/jquery-1.9.1.min.js'%}"></script>
	<script src="{% static 'scripts/jquery-ui-1.10.1.custom.min.js'%}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'scripts/datatables/jquery.dataTables.js'%}"></script>
	<script>
		$(document).ready(function() {
			$('.datatable-1').dataTable();
			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
			$('.dataTables_paginate > a').wrapInner('<span />');
			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
		} );
	</script>
</body>