{% include 'adminheader.html'%}
{% load static %}
<head>
	<script src='https://kit.fontawesome.com/a076d05399.js' ></script>

</head>
<body>

    <!-- /navbar -->


	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					{% include 'sidemenu.html'%}<!--/.sidebar-->
				</div><!--/.span3-->


				<div class="span9">
					<div class="content">
                        <div class="module">
							<div class="module-head">

								<h3 style="text-align:center;">Users Report</h3>
							</div>

								<table id="tbl2" cellpadding="10" cellspacing="0" border="1"  width="200%">
									<thead>
										<tr>
                                            <td class="sorting">Id</td>
											<th class="sorting">User Name</th>
                                            <th class="sorting">User Email</th>
                                            <th class="sorting">Contact</th>


										</tr>
									</thead>
									<tbody>
                                    {% for i in user %}
                                        <tr class="gradeA">
											<td class="sorting">{{forloop.counter}}</td>
											<td class="sorting">{{i.username}}</td>
                                            <td class="sorting">{{i.email}}</td>
                                            <td class="sorting">{{i.user_contact}}</td>
										</tr>
                                    {% endfor %}
                                    </tbody>
								</table>
							<br>
							<br>
								<div class="control-group">
									<div class="controls">
										<a href="/render/pdf/" type="submit" class="btn" >User PDF</a>
									</div>
								</div>
						</div><!--/.module-->

					<br />

					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	{% include 'adminfooter.html'%}

	<script src="{% static 'scripts/jquery-1.9.1.min.js'%}"></script>
	<script src="{% static 'scripts/jquery-ui-1.10.1.custom.min.js'%}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'scripts/datatables/jquery.dataTables.js'%}"></script>
	<script>
		$(document).ready(function() {
			$('.datatable-1').dataTable();
			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
			$('.dataTables_paginate > a').wrapInner('<span />');
			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
		} );
	</script>
</body>